
<!-- DESKTOP -->
    
    <div id="desktop_icons">
      <table cellpadding="10" cellspacing="10">
      
      <!-- Computer -->
        
        <tr>
          <td>
            <img id="icon_computer"
                 src="/media/images/desktop/icon_computer.png"
                 alt="computer" title="computer" 
                 onmouseover="change_icon('icon_computer', true);"
                 onmouseout="change_icon('icon_computer', false);" 
                 ondblclick="loadProgram('computer');"/> 
          </td>
        </tr>

      <!-- Home -->

        <tr>
          <td>
            <img id="icon_home" src="/media/images/desktop/icon_home.png"
                 alt="home" title="home" 
                 onmouseover="change_icon('icon_home', true);"
                 onmouseout="change_icon('icon_home', false);"
                 ondblclick="loadProgram('nautilus');"/>
          </td>
        </tr>

      <!-- Hard Disk -->

        <tr>
          <td>
            <img id="icon_hd" src="/media/images/desktop/icon_hd.png"
                 alt="hd" title="hd" 
                 onmouseover="change_icon('icon_hd', true);"
                 onmouseout="change_icon('icon_hd', false);"/>
          </td>
        </tr>

      </table>

    </div>
