/* Applications */

#menu_accessories {
  position: absolute;
  top: 25px;
  left: 166px;
  width: 200px;
  visibility: hidden;
}

#menu_games {
  position: absolute;
  top: 57px;
  left: 166px;
  width: 160px;
  visibility: hidden;
}

#menu_graphics {
  position: absolute;
  top: 90px;
  left: 166px;
  width: 200px;
  visibility: hidden;
}

#menu_internet {
  position: absolute;
  top: 154px;
  left: 166px;
  width: 200px;
  visibility: hidden;
}

#menu_office {
  position: absolute;
  top: 122px;
  left: 166px;
  width: 235px;
  visibility: hidden;
}

#menu_media {
  position: absolute;
  top: 186px;
  left: 166px;
  width: 218px;
  visibility: hidden;
}

/* Places */

/* System */
