<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/media/css/about.css" />
    <title>Ubuntu Virtual Desktop :: About</title>
  </head>
  <body>
  <div class="text"> 
    <br/>
    <h1>About ...</h1>
    <div class="separator"></div>

    <!-- LOGO -->
    <img src="/media/images/about/logo.png" alt="logo" title="logo"/>
    <br />
    <div class="separator"></div>
    <div class="main">
    <p style="color: #d50000; font-weight: bold; text-decoration: underline">WARNING: THIS PROJECT IS IN DEVELOPMENT. IT'S ABSOLUTELY NOT COMPLETED AND THERE ARE BUGS / ERRORS. FOR NOW, IT DOESN'T SUPPORT IE6!</p><br />
    This project tries to show an Ubuntu <strong>interactive presentation through the web</strong>. <br /><br />
    Starting the tour in the <a href="/presentation/" alt="">main page</a>, you can see a simple Ubuntu desktop, with some icons and the menu. <br />
    You can browse the menu and <em>launch</em> the applications.
    Each application could be represented by:
    <ol>
      <li><strong>A screenshot of that application:</strong>
        a launched application's screenshot, showing the application in action;
      </li>
      <li><strong>A more-interactive widget:</strong>
        in some cases (like Mozilla Firefox), you can "try" the application.
        <u>Obviously</u>, this is only a simulation.
    </ol>

    Anyway, this applications are "started" in windows-like widget, and you can
    move, minimize, close and maximize/restore them just like in a real desktop.
    </div>

  <!-- CONTACT -->
  <h1>Contact</h1>
  <div class="separator"></div>
  <div class="contacts">
  Want to collaborate? Feedbacks? <em>$OTHER</em>?<br />
  Please send a message to <strong><a href="mailto:lorenzosfarra@ubuntu.com?subject=[Ubuntu Virtual Desktop]"
                                      title="">lorenzosfarra@ubuntu.com</a>
                           </strong>.
  </div>

  <!-- TECHNICAL INFO -->
  <h1>Some Technical Info</h1>
  <div class="separator"></div>

  <div class="techinfo">
  <strong>Ubuntu Virtual Desktop</strong> is a project based on the
  <a href="http://www.djangoproject.com" alt="" title="">Django</a> Web Framework. <br />
  Programming language: <strong>Python</strong>. <br />
  Graphic part: <strong>HTML, JavaScript / AJAX, Css. </strong><br />
  The project uses the <a href="http://dojotoolkit.org" alt="" title="">Dojo
  Toolkit</a>, too.
  </div>
  </div>

  <!-- BACK TO MAIN PAGE LINK -->
  <div class="back">
    <a href="/presentation/" alt="" title="">Back to the main page &raquo;</a>
  </div>
  <br />
  </body>
</html>
